.header {
  width: 95%;
  margin: 10px auto;
  .header-container {
    position: relative;
    @include d-flex-center;
    @include desktop-unset;
    .navbar-toggle-label {
      position: absolute;
      @include p-absolute (0px, 0px, 0px, 0px);
      @include desktop {
        display: none;
      }
      .hamburger {
        width: 24px
      }
    }
  }
}

//手機版LOGO
.navbar-brand {
  @include desktop-unset;
  @include desktop {
    display: none;
  }
  &__logo {
    width: 135px;
    @include desktop {
    width: 169.83px;
    }
  }
}

.nav {
  width: 100%;
  margin-top: 10px;
  @include d-flex-center;
  flex-direction: column;
  display:none;
  @include desktop-unset;
  @include desktop {
    width: 100%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    grid-auto-flow: column;
  .navbar-brand-desktop {
    width: 169.83px;
    } 
  }
  .nav-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    margin-top: 30px;
    @include desktop-unset;
    @include desktop {
      grid-column: 1/7;
    }
    &__item {
      position: relative;
      @include d-flex-center;
      gap: 50px;
      @include desktop-unset;
      @include desktop {
        margin-right: 32px;
      }
        &::after {
          content: '';
          height: 1px;
          background-color: #D8D8D8;
          @include p-absolute (48px, 0, -100px, -100px);
          @include desktop-unset;  
        }
      &__link {
        font-weight: 500;
      }
    }
    &__icons {
      margin-top: 60px;
      @include d-flex-center;
      gap: 30px;
      @include desktop-unset;
      @include desktop {
        grid-column: 9 / 13;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
      }
      .icon {
        width: 24px;
      }
    }
  }
}

// 漢堡排開關效果
// check-box
.navbar-toggle {
  visibility: hidden;
  position: absolute;
  &:checked ~ .nav {
    display: block;
  }
}
